{% extends 'cwiz/layouts/layout' %}

{% set title = 'Submissions' | t('form-builder') %}
{% set bodyClass = 'cwiz cwiz-submissions' %}
{% set selectedSubnavItem = 'submissions' %}

{% set context = 'index' %}

{% set crumbs = [
    { label: craft.cwiz.getPluginName(), url: url('cwiz') },
    { label: 'Submissions' | t('cwiz'), url: url('cwiz/submissions') },
    { label: submissions.id ~ ' : ' ~ quizElement.title | t('cwiz'), url: url('cwiz/submissions/' ~ submissions.id ~ '/view') },
] %}

{% set quizId = craft.app.request.getSegment(3) %}

{% block content %}

    <h1>Quiz : {{ quizElement.title }}</h1>

    Quiz Summary:
    Number of questions: {{ craft.cwiz.submissions.summary(quizElement).numberOfQuestions }} <br/>
    Number of completed questions: {{ craft.cwiz.submissions.summary(quizElement).completedQuestions }} <br/>
    Number of correct sub questions answered in total: {{ craft.cwiz.submissions.summary(quizElement).correctSubQuestions }} <br />
    Number of sub questions in total: {{ craft.cwiz.submissions.summary(quizElement).numberOfSubQuestions }}

    {% set questionElement = quizElement.children().level(2).first() %}
        {% for questionElement in quizElement.children().level(2) %}

            {% if questionElement %}

                <h2>{{ questionElement.title }}</h2>

                Question Summary:
                Number of sub questions: {{ questionElement.questionsAnswers | length }} <br/>
                Number of completed sub questions: {{ craft.cwiz.submissions.summary(quizElement).completedSubQuestions(questionElement) }} <br/>


                <div>

                    {% for block in questionElement.questionsAnswers %}

                        {% set answer = block.answer[0] %}

                        {% if block.question|length %}
                            {{ block.question }}
                        {% endif %}

                        {% if answer.type == "radios" %}

                            {% for option in answer.options %}
                                <div>
                                    <input type="radio" id="answer-{{ option.id }}" name="answer[{{ answer.id }}]" value="{{ option.id }}" {{ craft.cwiz.submissions.blocks(answer).checked(option) }}>
                                    <label for="answer-{{ option.id }}">{{ option.option }}</label>
                                </div>
                            {% endfor %}

                            {% if not craft.cwiz.submissions.blocks(answer).isCorrect and craft.cwiz.submissions.blocks(answer).hasAnswered%}
                                <p>Correct Answer = “{{ craft.cwiz.submissions.blocks(answer).correctAnswer }}”</p>
                            {% endif %}

                        {% elseif answer.type == "select" %}
                            <div>
                                <select name="answer[{{ answer.id }}]">
                                    <option value="">- Select -</option>
                                    {% for option in answer.options %}
                                        <option value="{{ option.id }}" {{ craft.cwiz.submissions.blocks(answer).selected(option) }}>{{ option.option }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            {% if not craft.cwiz.submissions.blocks(answer).isCorrect and craft.cwiz.submissions.blocks(answer).hasAnswered%}
                                <p>Correct Answer = “{{ craft.cwiz.submissions.blocks(answer).correctAnswer }}”</p>
                            {% endif %}

                        {% elseif answer.type == "checkboxes" %}

                            {% for option in answer.options %}
                                <div>
                                    <input type="checkbox" id="answer-{{ option.id }}" name="answer[{{ answer.id }}][]" value="{{ option.id }}" {{ craft.cwiz.submissions.blocks(answer).checked(option) }}>
                                    <label for="answer-{{ option.id }}">{{ option.option }}</label>
                                </div>

                            {% endfor %}

                            {% if not craft.cwiz.submissions.blocks(answer).isCorrect and craft.cwiz.submissions.blocks(answer).hasAnswered%}
                                <p>Correct Answers
                                <ul>
                                    {% for availableAnswer in craft.cwiz.submissions.blocks(answer).correctAnswers %}
                                        <li>{{ availableAnswer }}</li>
                                    {% endfor %}
                                </ul>
                                </p>
                            {% endif %}

                        {% elseif answer.type == "text" %}
                            {% if craft.cwiz.submissions.blocks(answer).hasAnswered %}
                                <p>{{ answer.optionalMessage }}</p>
                            {% endif %}
                            <div>
                                <input type="text" name="answer[{{ answer.id }}]" value="{{ craft.cwiz.submissions.blocks(answer).value }}" />
                            </div>

                        {% elseif answer.type == "textarea" %}
                            {% if craft.cwiz.submissions.blocks(answer).hasAnswered %}
                                <p>{{ answer.optionalMessage }}</p>
                            {% endif %}
                            <div>
                                <textarea class="type_text grey_bg" name="answer[{{ answer.id }}]">{{ craft.cwiz.submissions.blocks(answer).value }}</textarea>
                            </div>

                        {% endif %}

                    {% else %}
                        <p>No question blocks could be found</p>
                    {% endfor %}
                </div>

            {% else %}
                <p>No question element could be found</p>
            {% endif %}
        {% endfor %}
{% endblock %}